{% extends 'base.html' %}

{% block static %}
<link href="static/home.css" rel="stylesheet">
<link href="static/test.css" rel="stylesheet">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
This is the content of home.
<div id="home"></div>
<div id="test"></div>
{% endblock %}